<!DOCTYPE html>
<html>
  <head>
    <title>Empanad.us</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <div id="orders">
      <ul data-id="0">
      </ul>
    </div>

    <div id="final-order">
    </div>

    <a id="add-order">Next</a>
    <a id="finish">Finish</a>

    <div id="pair-template" style="display: none;">
      <input type="number" min="0" />
      <select>
      </select>
    </div>
    <script id="app-js" type="text/javascript" src="/js/app.js"></script>
  </body>
</html>

