<!DOCTYPE html>
<html>
  <head>
    <title>Empanadas</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <div id="orders">
        <ul id=order-0 data-id="0">
        </ul>
      </div>

      <div id="final-order" class="final-order">
      </div>

      <div class="buttons">
        <a id="new-order" class="button">Siguiente</a>
        <a id="finish" class="button">Finalizar</a>
      </div>

      <div id="pair-template" style="display: none;">
        <input type="number" min="0" />
        <label class="custom-select">
          <select>
          </select>
        </label>
      </div>
      <script id="app-js" type="text/javascript" src="/js/app.js"></script>
    </div>
  </body>
</html>

